<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!-- <html class="no-js"> --> <!--<![endif]-->
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <title>Random Number Factory</title>
    <meta name="description" content="Ross Kippenbrock's Passport Parking Entrance Exam">
    <meta name="viewport" content="width=device-width">

    <!-- semantic ui -->
    <link rel="stylesheet" href='css/app.css'>
    <link rel="stylesheet" href="css/semantic.min.css">
    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/lib/semantic.min.js"></script>

    <!-- js tree -->
    <link rel="stylesheet" href="css/style.min.css" />
    <script type="text/javascript" src="js/lib/jstree.min.js"></script>

    <!-- Front End Javascript -->
    <script src="js/index.js"></script>

    <!-- Jquery Conext Menu -->
    <script type="text/javascript" src="js/lib/context.js"></script>
    <link rel="stylesheet" href="css/context.standalone.css" />

    <!-- Socket.io  -->
    <script src="socket.io/socket.io.js"></script>


  </head>

  <body>

    <div class="center">
      
      <div class="ui inverted menu">
        <!-- Left Menu Items -->
        <a class="active item" href="/">
          <i class="folder outline icon"></i>Home
        </a>

        <!-- Right Menu Items -->
        <div class="ui inverted right menu">
          {{#if user}}
            <div class="item">
              Hello, {{user.firstName}}!
            </div>
            <a href="/signout" class="item">
              <i class="user icon"></i> Logout
            </a>
          {{/if}}
        </div>

      </div>

      <div>
        {{{body}}} 
      </div>

    </div>

  </body>
</html>