<div class="ui raised segment">

  <div id="jstree">

  </div>

  <br>
  
  <button id="addNode" class="ui button">Add Node</button>

</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Random Number Generator
  </div>
  <div class="content">
    <div class="left">
      How many numbers would you like to generate?
      <div class="ui big input">
        <input type="text" name="numRandomNumbers" id="randNumField" placeholder="1-15">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">
      Cancel
    </div>
    <div class="ui button" id="modalOkayButton">
      Okay
    </div>
  </div>
</div>

<!-- Activity Feed -->
<!-- <div class="ui small feed segment" id="userFeed">
  <h4 class="ui header">Other User Activity</h4>
  <div>
    <ol id="feed">

    </ol>
  </div>
  <div id="numUsers">
    
  </div>
</div> -->



<script type="text/javascript">


</script>