
<h1 class="ui header">
  Login
</h1>

<div class="ui left floated raised segment" id="accountWall">
    {{#if message}}
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          {{ message }}
        </div>
      </div>
    {{/if}}

    <form id='signInForm' action='/login' method='POST'>
      <div class="ui focus input">
        <input type='text' name='username' placeholder='Email' id="usernameField">
      </div>
      <br>
      <br>
      <div class="ui focus input">
        <input type='password' name='password' placeholder='Password' id="passwordField">
      </div>
      <br>
      <br>
      <div class="ui buttons">
        <div class="ui button" id="submitButton">Sign In</div>
        <div class="or"></div>
        <div class="ui button" id="signupButton" onclick="location.href='/signup'">Signup</div>
      </div>

    </form>
    

</div>
          



<script type="text/javascript">

  // Tie the submit button to the form
  $(document).ready(function(){
    
    // Submit Button Code
    $('#submitButton').click(function(){
      $('#signInForm').submit();
    });

    // Send the form with an enter key as well
    $('#usernameField, #passwordField').focus(function(){
      $(document).keypress(function(e) {
          if(e.which == 13) {
            $('#submitButton').click();
          }
      }); 
    });

    // Close the message
    $('.message .close').on('click', function() {
      $(this).closest('.message').fadeOut();
    });

  });

</script>